@charset "utf-8";

//point color
$point_main: #FFD4D4;
$point_text: #FFFFE8;

// board color
$board_dark: #AACB73;
$board_light: #CDE990;

//ground and mine color
$ground_dark: #CFB997;
$ground_light: #FAD6A5;
$mine_dark: #567189;
$mine_light: #7B8FA1;

// https://colorhunt.co/palette/ccd6a6dae2b6f4ead5fffbe9


// number color
// $number_1: #00F5FF;
// $number_2: #FCE700;
// $number_3: #FF6D28;
// $number_4: #EA047E;

$number_1: #187498;
$number_2: #36AE7C;
$number_3: #dfbe02;
$number_4: #EB5353;
$number_5: #7653eb;
$number_6: #eb53d7;

// $number_1: #187498;
// $number_2: #36AE7C;
// $number_3: #F9D923;
// $number_4: #EB5353;



// Lotto
$main_text: #000000;
$main_outsideBg: #14213d;
$main_light: #e5e5e5;
$main_innerBg: #ffffff;
$main_point: #fca311;

$test: #fbc400;
$test2: #69c8f2;
$test3: #ff7272;
$test4: #aaa;
$test5: #b0d840;